# ignore outputs from colab model runs
Features/encoding/raw_encoder_data_sets
Features/encoding/bilstm_pipeline/clean_data_bilstm
Features/encoding/bilstm_pipeline/full_220
Features/encoding/bilstm_pipeline/checkpoints
# Features/encoding/bilstm_pipeline/best_ckpts
Features/encoding/bilstm_pipeline/archive/
Features/raw_data_handler/colab_processed_models



# Ignore all data files in any subfolder
*.csv
*.npy
*.npz
*.pkl
*.pt
*.json
*.xlsx
*.zip
*.vocab
*.model
**.DS_Store